# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Environment variables and instance folder
.env
instance/

# Flask-Specific
*.db
*.sqlite3

# Logs
*.log

# VSCode settings (optional)
.vscode/

# MacOS metadata
.DS_Store

# Python egg info
*.egg-info/
dist/
build/
